<div class="card">
  <div class="card-header">
    <h3 align="center" style="color:blue">Update Profile<% resource_name.to_s.humanize %></h3>
  </div>
  <div class="card-body" style="background-color:white ;color:black;">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field form-group">
      <br>
      <%= f.label :Name %><br>
      <%= f.text_field :name, autofocus: true, autocomplete: "name",class:"form-control",placeholder:"Name" %>
    </div>

   <div class="field form-group">
      <br>
      <%= f.label :Email %><br>
      <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control",placeholder:"E-mail" %>
    </div>
    <br>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field form-group">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "new-password",class:"form-control",placeholder:"Enter Password" %>
      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>
    <br>
    <div class="field form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" ,class:"form-control",placeholder:"Enter Password Again" %>
    </div>
    <br>
    <div class="field form-group">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password" ,class:"form-control",placeholder:"Enter Your Current Password" %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit "Update" ,class:'btn btn-dark' %> | 
      <%= link_to "Back", :back, class:'btn btn-dark'%>
    </div>
  <% end %>
    </div>
  </div>
  <br>
  <%= button_to "Delete Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete,class:'btn btn-danger' %> 
  <br><br>
  </div>
</div>

