<% if $faculty.present? %>
  <h1 align="center">View-Profile</h1>
  <br>

  <div class="jumbotron">
    <h2>
      <%= $faculty.first_name %>
      <%= $faculty.last_name %>
    </h2>
    <p class="lead">
      <strong>Email:</strong> <%= $faculty.email %> |
      <strong>Mobile:</strong> <%= $faculty.mobile %>
    </p>
    <hr class="my-4">
    <p><strong>Subject:</strong><%= $faculty.subject %></p>
    <p><strong>Subject code:</strong><%= $faculty.subject_code %></p>
    <%= link_to 'Update', edit_faculty_path($faculty),class:"btn btn-secondary" %> |
    <%= link_to 'Back', faculty_dashboard_path ,class:"btn btn-dark"%>
  </div>

<% else %>
<div id="homepage">
      <br> <br><br><br>
      <h1 id="heading">Welcome in ERP portal</h1>
      <br><br>
      <h1 style="margin-left:130px;color:red;">Error,404</h1>
      <h2 style="margin-left:130px;color:red;">Page Not Found</h2>
</div>
<% end %>
