<% if admin_signed_in? %>
<html>
   <head>
   </head>
  <body >
      <h1 align="center">Results</h1>
      <br>
  <div style="border-style:inset;margin-top:5px;padding-right:1px;padding-left:1px;padding-bottom:120px;">
    <table class="table table-striped table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th align="center">Roll No.</th>
          <th align="center">Hindi</th>
          <th align="center">English</th>
          <th align="center">Maths</th>
          <th align="center">Science</th>
          <th align="center">Social Science</th>
          <th align="center">Total Marks</th>
          <th align="center">Obtained Marks</th>
          <th align="center">Result</th>
        </tr>
      </thead>

      <tbody>
        <% @result.each do |s| %>
          <tr>
            <td align="center"><%= s.student_roll%></td>
            <td align="center"><%= s.hindi%></td>
            <td align="center"><%= s.english%></td>
            <td align="center"><%= s.maths%></td>
            <td align="center"><%= s.science%></td>
            <td align="center"><%= s.social_science%></td>
            <td align="center"><%= s.total%></td>
            <td align="center"><%= s.obtained_marks%></td>
            <td align="center"><%= s.remark%></td>
          </tr>
        <% end %>
      </tbody>
      </table>
    </div>
    <br>
    <h4>Actions:

    <td align="center"><%= link_to 'Preview Result',result_check_marks_path ,class:"btn btn-dark"%></td>


    <td align="center"><%= link_to 'Publish Result',result_publish_path ,class:"btn btn-dark"%></td>

    </h4>
<br>
<br>
<%= link_to 'Back', root_path %>
<br>
    <% else %>
      <div id="homepage">
        <br> <br><br><br>
        <h1 id="heading">Welcome in ERP portal</h1>
        <br><br>
        <h1 style="margin-left:130px;color:red;">Error,404</h1>
        <h2 style="margin-left:130px;color:red;">Page Not Found</h2>
      </div>
    <% end %>
</body>
</html>