<div id="loginpage" style="border-style:inset; padding:35px; margin-top: 25px;">
<strong><h1 style="text-align:center;color:black;font-family:verdana;">Admin Log-in</h1></strong>
<br>


<div align="center"><%= image_tag("logo/admin1.png",width:"150px",height:"150px")%></div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password",class:"form-control" %>
  </div>

  <% if devise_mapping.rememberable? %>

    <div class="field form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Sign-in" ,class:"button" %>
  </div>
<% end %>
<br>
<h5><%= render "devise/shared/links" %></h5>
</div>
<br>
<br>
